<%= form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :trade_name %><br>
    <%= f.text_area :trade_name %>
  </div>
  <div class="field">
    <%= f.label :effect %><br>
    <%= f.text_area :effect %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :drug_usage_id %><br>
    <%= f.text_field :drug_usage_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
