<div class="btn-group">

  <% 
    @default_class = "btn btn-default btn-sm" 
    @active_class = @default_class + " active"
  %>

  <%= link_to drugs_path, class: (active == :index ? @active_class : @default_class ), role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'drugs.index.title' %>
  <% end %>
  <%= link_to new_drug_path, class: (active == :new ? @active_class : @default_class ), role: 'button' do %>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= t 'drugs.new.title' %>
  <% end %>

  <% if defined?(@drug) && !@drug.new_record? %>
    <%= link_to drug_path(@drug), class: (active == :show ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= t 'drugs.show.title' %>
    <% end %>
    <%= link_to edit_drug_path(@drug), class: (active == :edit ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t 'drugs.edit.title' %>
    <% end %>
  <% end %>
</div>