<p id="notice"><%= notice %></p>

<h1>Listing Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Trade name</th>
      <th>Effect</th>
      <th>Balance</th>
      <th>Drug usage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= drug.trade_name %></td>
        <td><%= drug.effect %></td>
        <td><%= drug.balance %></td>
        <td><%= drug.drug_usage %></td>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug', new_drug_path %>
