<%= render partial: "navigation", locals: {active: :index} %>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<%= search_form_for @q, html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :name_or_trade_name_cont, t("search"), class: 'col-sm-1 control-label'%>
    <div class="col-sm-8">
      <%= f.search_field :name_or_trade_name_cont, class: 'form-control', placeholder: true %>
    </div>
    <div class="col-sm-3">
      <%= f.button  name: "submit", class: "btn btn-success btn-labeled", value: "submit" do %>
        <span class="btn-label"><i class="glyphicon glyphicon-search"></i></span><%=t 'search' %>
      <% end %>
      <%= link_to drugs_path, class: 'btn btn-danger', role: 'button' do %>
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
      <% end %>
    </div>
  </div>
<% end %>

<hr>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link @q, :id, "#" %></th>
        <th><%= sort_link @q, :name %></th>
        <th><%= sort_link @q, :trade_name %></th>
        <th><%= sort_link @q, :effect %></th>
        <th><%= sort_link @q, :concern %></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.id %></td>
        <td><%= drug.name %></td>
        <td><%= drug.trade_name %></td>
        <td><%= drug.effect %></td>
        <td><%= drug.concern %></td>
        <td class="rowlink-skip">
          <div class="btn-group">
            <%= link_to drug_path(drug), class: 'btn btn-default btn-sm', role: 'button' do %>
              <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="View" data-placement="bottom" aria-hidden="true"></span>
            <% end %>
            <%= link_to edit_drug_path(drug), class: 'btn btn-default btn-sm', role: 'button' do %>
              <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit" data-placement="bottom" aria-hidden="true"></span>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @drugs %>
</div>
<hr>
<div>
<%= page_entries_info @drugs, entry_name: t('.title') %>
</div>