<%
  url_op = nil
  method = nil
  if operation == :new
    url_op = "create"
    method = :post
  else
    url_op = "update"
    method = :patch
  end
%>

<%= form_for exam, url: send("#{url_op}_patient_diag_path",exam), method: method, remote: true,
  html: { class: "form-horizontal" }  do |exam_form| %>
  <%= exam_form.fields_for :patient_diags, patient_diag do |pd_form| %>
    <div class="form-group">
      <%= pd_form.label :diag_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= pd_form.select :diag_id, 
          options_for_select(@diags.map{ |d| [d.name, d.id, {'data-subtext'=> d.description}] }, pd_form.object.diag_id), {},
          class: "selectpicker form-control", data: { 'live-search' => true } %>
      </div>
    </div>
    <div class="form-group">
      <%= pd_form.label :note, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= pd_form.text_field :note, class: "form-control", placeholder: true %>
      </div>
    </div>

<% if operation == :edit %>
    <div class="form-group">
      <div class="checkbox col-sm-10 col-sm-offset-2">
        <label><%= pd_form.check_box :_destroy %> <strong>Destroy ?</strong></label>
      </div>
    </div>
<% end %>

  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= exam_form.submit 'Done', class: "btn btn-primary",
        data: { "disable-with" => "Saving..."} %>
    </div>
  </div>
<% end %>