<%= form_for @drug_usage, html: { class: "form-horizontal" } do |f| %>
  <% if @drug_usage.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= t("error.cannot_save") %></strong>
      <ul>
        <% @drug_usage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code, class: "col-sm-2 control-label required-label" %>
    <div class="col-sm-10">
      <%= f.text_field :code, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, class: "col-sm-2 control-label required-label" %>
    <div class="col-sm-10">
      <%= f.text_field :text, class: "form-control", required: true %>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= render partial: "global/form_button", locals: {f: f} %>
      <%= render partial: "global/form_button_back" %>
    </div>
  </div>
<% end %>