<%= render partial: "navigation", locals: {active: :new} %>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<div class="panel panel-primary">
  <div class="panel-heading"><%= t ".title" %></div>
  <div class="panel-body">

    <%= render 'form' %>

  </div>
</div>
