<p id="notice"><%= notice %></p>

<h1>Listing Drug Ins</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Expired date</th>
      <th>Cost</th>
      <th>Sale price per unit</th>
      <th>Balance</th>
      <th>Drug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drug_ins.each do |drug_in| %>
      <tr>
        <td><%= drug_in.amount %></td>
        <td><%= drug_in.expired_date %></td>
        <td><%= drug_in.cost %></td>
        <td><%= drug_in.sale_price_per_unit %></td>
        <td><%= drug_in.balance %></td>
        <td><%= drug_in.drug %></td>
        <td><%= link_to 'Show', drug_in %></td>
        <td><%= link_to 'Edit', edit_drug_in_path(drug_in) %></td>
        <td><%= link_to 'Destroy', drug_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug in', new_drug_in_path %>
