<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @drug_in.amount %>
</p>

<p>
  <strong>Expired date:</strong>
  <%= @drug_in.expired_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @drug_in.cost %>
</p>

<p>
  <strong>Sale price per unit:</strong>
  <%= @drug_in.sale_price_per_unit %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @drug_in.balance %>
</p>

<p>
  <strong>Drug:</strong>
  <%= @drug_in.drug %>
</p>

<%= link_to 'Edit', edit_drug_in_path(@drug_in) %> |
<%= link_to 'Back', drug_ins_path %>
