<% if @customer.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <strong><%= t("error.cannot_save") %></strong>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading"><%= t(".general_info") %></div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :prefix, class: "col-sm-2 control-label required-label" %>
      <div class="col-sm-4">
        <%= f.collection_select(:prefix_id, @prefixes, :id, :name, {}, class: "selectpicker") %>
      </div>
      <%= f.label :sex, class: "col-sm-2 control-label required-label" %>
      <div class="btn-group col-sm-4" data-toggle="buttons">
        <label class="btn btn-default">
          <%= f.radio_button :sex, "M" %> <%= t('customers.show.M') %>
        </label>
        <label class="btn btn-default">
          <%= f.radio_button :sex, "F" %> <%= t('customers.show.F') %>
        </label>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label required-label"%>
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control", placeholder: true, required: true %>
      </div>
      <%= f.label :surname, class: "col-sm-2 control-label required-label" %>
      <div class="col-sm-4">
        <%= f.text_field :surname, class: "form-control", placeholder: true, required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :birthdate, class: "col-sm-2 control-label required-label" %>
      <div class="col-sm-10">
        <%= f.date_select :birthdate, {start_year: Date.today.year - 100, end_year: Date.today.year}, class: "selectpicker" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :id_card_no, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :id_card_no, class: "form-control", placeholder: true, data: { mask: '9-9999-99999-99-9' } %>
      </div>
      <%= f.label :passport_no, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :passport_no, class: "form-control", placeholder: true, data: {mask: 'aw99999?99' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :nationality, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :nationality, class: "form-control", placeholder: true %>
      </div>    
      <%= f.label :occupation, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :occupation, class: "form-control", placeholder: true %>
      </div>
    </div>    
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><%= t(".contact_info") %></div>
  <div class="panel-body">
    <div class="form-group">  
      <%= f.label :address, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :address, class: "form-control", placeholder: true, size: 60 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sub_district, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :sub_district, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :district, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :district, class: "form-control", placeholder: true %>
      </div>
      <%= f.label :province, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :province, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :postal_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :postal_code, class: "form-control", placeholder: true, data: { mask: '99999' } %>
      </div>
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :home_phone_no, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.telephone_field :home_phone_no, class: "form-control", placeholder: true, data: { mask: '9-9999-9999' } %>
      </div>
      <%= f.label :tel_no, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.telephone_field :tel_no, class: "form-control", placeholder: true, data: { mask: '99-9999-9999' } %>
      </div>
    </div>
  </div>
</div>