<div class="btn-group">
  <%= link_to customers_path, class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'customers.index.title' %>
  <% end %>
  <%= link_to customer_path(@customer), class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= t 'customers.show.title' %>
  <% end %>
</div>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: 'form_button', locals: {f: f} %>
<% end %>