<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t('.submit_button'), class: "btn btn-primary" %>
  <%= f.submit t('.clear_button'), type: "reset", class: "btn btn-default" %>
<% end %>