<%= render partial: "navigation", locals: {active: "edit"} %>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render partial: 'global/form_button', locals: {f: f} %>
  <%= render partial: 'global/form_button_back', locals: {f: f} %>
<% end %>