<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<%= search_form_for @q, html: { class: "form-horizontal" } do |f| %>
	<div class="form-group">
		<%= label_tag "search", t('.search'), class: 'col-sm-1 control-label'%>
		<div class="col-sm-4">
			<%= f.attribute_select nil, class: 'form-control selectpicker', title: t('.choose_attribute') %>
		</div>
		<div class="col-sm-5">
			<%= text_field_tag 'cont', nil, class: 'form-control' %>
		</div>
		<div class="col-sm-2">
			<%= f.submit t('.search'), class: 'btn btn-primary' %>

		</div>
	</div>
<% end %>
<%#= content_tag :p, @customers.to_sql %>
<hr>

	<!--
	<%= content_tag :p, @customers.to_sql %>
	-->


<div class="table-responsive">
	<table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th><%= sort_link(@q, :id, "#") %></th>
	      <th><%= sort_link(@q, :name, (t 'helpers.label.customer.name')) %></th>
	      <th><%= sort_link(@q, :surname, (t 'helpers.label.customer.surname')) %></th>
	      <th><%= sort_link(@q, :sex, (t 'helpers.label.customer.sex')) %></th>
	      <th><%= sort_link(@q, :birthdate, (t 'helpers.label.customer.birthdate')) %></th>
	      <th><%= sort_link(@q, :id_card_no, (t 'helpers.label.customer.id_card_no')) %></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @customers.each do |customer| %>	
	    <tr>
	      <th scope="row"><%= customer.id %></th>
	      <td><%= customer.prefix.name %> <%= customer.name %></td>
	      <td><%= customer.surname %></td>
	      <td><%= t('customers.show.' + customer.sex) %></td>
	      <td><%= customer.birthdate %> (<%= th_year customer %>)</td>
	      <td><%= masked_id_card_no(customer) %></td>
	      <td>
	      	<div class="btn-group">
	      		<%= link_to t('.view'), customer_path(customer), class: "btn btn-default btn-sm" %>
	      		<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      			<span class="caret"></span>
	      			<span class="sr-only">Toggle Dropdown</span>
	      		</button>
	      		<ul class="dropdown-menu">
	      			<li><%= link_to t('.edit'), edit_customer_path(customer) %></li>
	      			<li role="separator" class="divider"></li>
	      			<li><%= link_to t('.view_exam'), exams_path %></li>
	      			<li><%= link_to t('.create_exam'), new_exam_path(customer_id: customer.id) %></li>
	       		</ul>
	      	</div>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<%= paginate @customers %>
<div>
<%= page_entries_info @customers, entry_name: t('layouts.application.customer') %>
</div>