<div class="btn-group">
  <%= link_to customers_path, class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'customers.index.title' %>
  <% end %>
</div>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t('.submit_button'), class: "btn btn-primary" %>
  <%= f.submit t('.clear_button'), type: "reset", class: "btn btn-default" %>
<% end %>