<div class="btn-group">
  <%= link_to customers_path, class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'customers.index.title' %>
  <% end %>
</div>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.button  class: "btn btn-success btn-labeled" do |b| %>
    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><%=t('.submit_button')%>
  <% end %>
  <%= f.button type: :reset, class: "btn btn-info btn-labeled" do |b| %>
    <span class="btn-label"><i class="glyphicon glyphicon-erase"></i></span><%=t('.clear_button')%>
  <% end %>
  <%= link_to :back, class: "btn btn-default btn-labeled" do %>
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-left"></i></span>Cancel
  <% end %>
<% end %>