<div class="btn-group">
  <%= link_to customers_path, class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'customers.index.title' %>
  <% end %>
  <%= link_to edit_customer_path(@customer), class: 'btn btn-default btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t 'customers.edit.title' %>
  <% end %>
</div>

<div class="btn-group">
  <%= link_to new_exam_path(customer_id: @customer.id), class: 'btn btn-primary btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= t '.new_exam' %>
  <% end %>
  <%= link_to exams_path(customer_id: @customer.id), class: 'btn btn-primary btn-sm', role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t '.show_exam' %>
  <% end %>
</div>

<div class="btn-group">
  <%= link_to customer_path(format: :pdf), class: 'btn btn-default btn-sm', role: 'button', target: '_tab' do %>
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> <%= t '.print_id_card' %>
  <% end %>
</div>

<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>

<hr>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :name %>:
      </div>
      <div class="col-sm-4">
        <%= "#{@customer.prefix.name} #{@customer.name} #{@customer.surname}" %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :sex %>:
      </div>
      <div class="col-sm-4">
        <%= t ".#{@customer.sex}" %>
      </div>    
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :birthdate %>:
      </div>
      <div class="col-sm-4">
        <%= th_date_format @customer.birthdate %>
      </div>
      <div class="col-sm-2">
        <%= label_tag nil, t('.age') %>:
      </div>
      <div class="col-sm-4">
        <%= age_text @customer %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :id_card_no %>:
      </div>
      <div class="col-sm-4">
        <%= masked_id_card_no(@customer) %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :passport_no %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.passport_no %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :nationality %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.nationality %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :occupation %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.occupation %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :address %>:
      </div>
      <div class="col-sm-10">
        <%= @customer.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :sub_district %>:
      </div>
      <div class="col-sm-6">
        <%= @customer.sub_district %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :district %>:
      </div>
      <div class="col-sm-6">
        <%= @customer.district %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :province %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.province %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :postal_code %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.postal_code %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :email %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= label :customer, :home_phone_no %>:
      </div>
      <div class="col-sm-3">
        <%= masked_home_phone_no @customer %>
      </div>
      <div class="col-sm-3">
        <%= label :customer, :tel_no %>:
      </div>
      <div class="col-sm-3">
        <%= masked_tel_no @customer %>
      </div>          
    </div>    
  </div>
</div>

