<%= render partial: "navigation", locals: {active: "show"} %>

<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<div class="form-group">
  <%= render partial: "exams/navigation", locals: {active: "none"} %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><%= t("customers.form.general_info") %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :created_at %>:
      </div>
      <div class="col-sm-4">
        <%= th_date_time_format @customer.created_at %> (<%= time_ago_in_words @customer.created_at %>)
      </div>
      <div class="col-sm-2">
      
      </div>
      <div class="col-sm-4">
        
      </div>  
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :name %>:
      </div>
      <div class="col-sm-4">
        <%= "#{@customer.prefix.name} #{@customer.name} #{@customer.surname}" %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :sex %>:
      </div>
      <div class="col-sm-4">
        <%= t ".#{@customer.sex}" %>
      </div>    
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :birthdate %>:
      </div>
      <div class="col-sm-4">
        <%= th_date_format @customer.birthdate %>
      </div>
      <div class="col-sm-2">
        <%= label_tag nil, t('.age') %>:
      </div>
      <div class="col-sm-4">
        <%= age_text @customer %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :id_card_no %>:
      </div>
      <div class="col-sm-4">
        <%= masked_id_card_no(@customer) %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :passport_no %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.passport_no %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :nationality %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.nationality %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :occupation %>:
      </div>
      <div class="col-sm-4">
        <%= @customer.occupation %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><%= t("customers.form.contact_info") %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :address %>:
      </div>
      <div class="col-sm-10">
        <%= @customer.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :sub_district %>:
      </div>
      <div class="col-sm-6">
        <%= @customer.sub_district %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :district %>:
      </div>
      <div class="col-sm-6">
        <%= @customer.district %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :customer, :province %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.province %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :postal_code %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.postal_code %>
      </div>
      <div class="col-sm-2">
        <%= label :customer, :email %>:
      </div>
      <div class="col-sm-2">
        <%= @customer.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= label :customer, :home_phone_no %>:
      </div>
      <div class="col-sm-3">
        <%= masked_home_phone_no @customer %>
      </div>
      <div class="col-sm-3">
        <%= label :customer, :tel_no %>:
      </div>
      <div class="col-sm-3">
        <%= masked_tel_no @customer %>
      </div>          
    </div>    
  </div>
</div>

<%= render partial: "exams/navigation", locals: {active: "show"} %>