<div class="btn-group">

  <% 
    @default_class = "btn btn-default btn-sm" 
    @active_class = @default_class + " active"
  %>

  <%= link_to({controller: name, action: :index}, {class: (active == :index ? @active_class : @default_class ), role: 'button'}) do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t "#{name}.index.title" %>
  <% end %>
  <%= link_to({controller: name, action: :new}, {class: (active == :new ? @active_class : @default_class ), role: 'button'}) do %>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= t "#{name}.new.title" %>
  <% end %>

  <% if defined?(obj) && obj && !obj.new_record? 
    obj_name = obj.class.to_s.underscore
  %>
    <%= link_to send("#{obj_name}_path", obj) ,class: (active == :show ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= t "#{name}.show.title" %>
    <% end %>
    <%= link_to send("edit_#{obj_name}_path", obj), class: (active == :edit ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t "#{name}.edit.title" %>
    <% end %>
  <% end %>
</div>