<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(".heading") %></h3>
  </div>
  <div class="panel-body">
  <%= form_for exam, html: { class: "form-horizontal" } do |f| %>
    <div class="form-group">
      <%= label_tag 'diags', nil, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= select_tag 'diags', options_for_select( @diags.map{ |d| [d.name, d.id, {'data-subtext'=> d.description}] } ), class: "selectpicker" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
          </tbody>
        </table>
        </div>  
    </div>
    <%= f.submit t('exams.weight_form.submit_button'), class: "btn btn-primary" %>
    <%= f.submit t('exams.weight_form.clear_button'), type: "reset", class: "btn btn-default" %>
  <% end %>
  </div>
</div>