<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(".heading") %></h3>
  </div>
  <div class="panel-body">
  <%= form_for exam, html: { class: "form-horizontal" } do |f| %>
    <div class="form-group">
      <%= label_tag 'diags', nil, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= select_tag 'diags', options_for_select( @diags.map{ |d| [d.name, d.id, {'data-subtext'=> d.description}] } ), class: "selectpicker" %>
      </div>
    </div>
    <%= f.submit t('exams.weight_form.submit_button'), class: "btn btn-primary" %>
    <%= f.submit t('exams.weight_form.clear_button'), type: "reset", class: "btn btn-default" %>
  <% end %>
  </div>
</div>