<div class="btn-group">

  <% 
    @default_class = "btn btn-sm" 
    @active_class = @default_class + " active"
  %>

  <%= link_to customer_exams_path(customer), class: (active == 'index' ? @active_class : @default_class ), role: 'button' do %>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t 'exams.index.title' %>
  <% end %>
  <%= link_to new_customer_exam_path(customer), class: (active == 'new' ? @active_class : @default_class ), role: 'button' do %>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= t 'exams.new.title' %>
  <% end %>

  <% if defined?(@exam) && !@exam.new_record? %>
    <%= link_to exam_path(@exam), class: (active == 'show' ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= t 'exams.show.title' %>
    <% end %>
    <%= link_to edit_exam_path(@exam), class: (active == 'edit' ? @active_class : @default_class ), role: 'button' do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t 'exams.edit.title' %>
    <% end %>
  <% end %>
</div>