<%= form_for exam, html: { class: "form-horizontal", id: "new_exam_diag_form" }  do |exam_form| %>
  <%= exam_form.fields_for :exams_diags, exams_diag do |exams_diags_form| %>
    <p>
      <%= exams_diags_form.label :order %>
      <%= exams_diags_form.text_field :order %>
    </p>
    <p>
      <%= exams_diags_form.label :diag_id %>
      <%= exams_diags_form.select :diag_id, 
        options_for_select(@diags.map{ |d| [d.name, d.id, {'data-subtext'=> d.description}] }, exams_diags_form.object.diag_id), {},
        class: "selectpicker" %>
    </p>
    <p>
      <%= exams_diags_form.label :note %>
      <%= exams_diags_form.text_field :note %>
    </p>
  <% end %>
  <p>
    <%= exam_form.submit 'Update' %>
  </p>
<% end %>