<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title"><%= t ".header" %></div>
  </div>
  <div class="panel-body">
  <%= form_for exam, html: { class: "form-horizontal", id: "exam_pi_form" } do |f| %>
    <div class="form-group">
      <%= f.label :exam_pi, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :exam_pi, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :exam_pe, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :exam_pe, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :exam_note, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :exam_note, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%= render partial: "global/form_button", locals: {f: f} %>
      </div>
    </div>
  <% end %>
  </div>
</div>