<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title"><%=t("exams.pe_form.header")%></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <%= label :exam, :exam_pi %>:
      </div>
      <div class="col-sm-10">
        <%= @exam.exam_pi %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :exam, :exam_pe %>:
      </div>
      <div class="col-sm-10">
        <%= @exam.exam_pe %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= label :exam, :exam_note %>:
      </div>
      <div class="col-sm-10">
        <%= @exam.exam_note %>
      </div>
    </div>    
  </div>
</div>