<div class="form-group">
<%= render partial: "customers/navigation", locals: {active: "show" } %>
</div>
<%= render partial: 'customer', locals: {customer: @customer} %>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<div class="form-group">
  <%= render partial: "navigation", locals: {active: "edit"} %>
</div>

<% if @exam.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2>
      <%= pluralize(@exam.errors.count, "error") %> prohibited
      this exam from being saved:
    </h2>
    <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'weight_form', locals: {customer: @customer, exam: @exam} %>

<div class="row">
  <div class="col-sm-6">
  <%= render partial: 'exam_form', locals: {exam: @exam} %>
  </div>
  <div class="col-sm-6">
  <%= render partial: 'exams/diags/diags', locals: {exam: @exam} %>
  </div>
</div>