<div class="form-group">
<%= render partial: "customers/navigation", locals: {active: "show" } %>
</div>
<%= render partial: 'customer', locals: {customer: @customer} %>

<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<div class="form-group">
  <%= render partial: "navigation", locals: {active: "index"} %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "#") %></th>
        <th><%= sort_link(@q, :created_at, t('helpers.label.exam.created_at') )%></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <% @exams.each do |exam| %> 
      <tr>
        <td><%= link_to exam.id, exam_path(exam) %></td>
        <td><%= th_date_time_format exam.created_at %> (<%= time_ago_in_words(exam.created_at)%>)</td>
        <td class="rowlink-skip">
          <div class="btn-group">
            <%= link_to exam_path(exam), class: 'btn btn-default btn-sm', role: 'button' do %>
              <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="<%= t '.show_exam' %>" data-placement="right" aria-hidden="true"></span>
            <% end %>
            <%= link_to qs_path(exam_id: exam.id), method: :post, class: 'btn btn-default btn-sm', role: 'button' do %>
              <span class="glyphicon glyphicon-hourglass" data-toggle="tooltip" title="<%= t '.add_to_q' %>" data-placement="right" aria-hidden="true"></span>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @exams %>
</div>
<div>
<%= page_entries_info @exams, entry_name: t('exams.index.title') %>
</div>