<%= render partial: 'customer', locals: {customer: @exam.customer} %>
<h3><%= t '.title' %> <small><%= t '.sub_text' %></small></h3>
<hr>

<div class="form-group">
  <%= render partial: "navigation", locals: {active: "show", customer: @exam.customer} %>
</div>

<%= render partial: "weight_info", locals: {exam: @exam} %>

<div class="row">
  <div class="col-sm-6">
    <%= render partial: "pe_info", locals: {exam: @exam} %>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="panel-title"><%= t("exams.diag_form.heading") %></div>
      </div>
      <div class="panel-body">
        <div id="patient_diags_list_div" class="table-responsive">

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody data-link="row" class="rowlink">
    <% @exam.patient_diags.each do |ed| %> 
    <tr>
      <td><%= ed.id %></td>
      <td><%= ed.diag.name %></td>
      <td><%= ed.note %></td>
    </tr>
    <% end %>
  </tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<%= render partial: "global/form_button_back" %>